* {
    box-sizing: border-box;
}

body {
    background-color: #FAB733;
}

header {
    background-color: #FFDD66;
    height: 220px;
    padding-top: 20px;
    position: relative;
}

#nomeDoDino {
    color: #1976C7;
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    top: 88px;
    right: 40px;
}

.link-especie {
    color: #000000;
    font-size: 18px;
    font-style: italic;
    position: absolute;
    top: 138px;
    right: 40px;
}

.container-texto {
    background-color: #FFDD66;
    margin: 16px auto 0;
    width: 296px;
    height: 60px;
    padding: 22px;
    border-radius: 24px;
    text-align: center;
    font-weight: bold;
}

.container-video {
    width: 296px;
    height: 156px;
    margin: 16px auto 0;
}

iframe {
    width: 100%;
    height: 100%;
}